@charset "UTF-8";
/*卷轴打开*/
.page-develop {
  width: 100% !important;
  height: 100% !important;
  -webkit-transition: 1.8s;
  transition: 1.8s; }

.fade-in {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards; }

.fade-right-in {
  -webkit-animation: fadeRightIn 1s forwards;
          animation: fadeRightIn 1s forwards; }

.rotate360 {
  -webkit-animation: Rotate360 5s linear infinite;
          animation: Rotate360 5s linear infinite; }

.aid-kit-1 {
  -webkit-animation: aidKit1-1 4s linear forwards;
          animation: aidKit1-1 4s linear forwards; }
  .aid-kit-1 img {
    -webkit-animation: aidKit1-2 4s linear forwards;
            animation: aidKit1-2 4s linear forwards; }

.aid-kit-2 {
  -webkit-animation: aidKit2-1 4.2s cubic-bezier(0.26, 0.73, 0.57, 0.75) forwards;
          animation: aidKit2-1 4.2s cubic-bezier(0.26, 0.73, 0.57, 0.75) forwards; }
  .aid-kit-2 img {
    -webkit-animation: aidKit2-2 4.2s cubic-bezier(0.53, 0.78, 0.51, 0.84) forwards;
            animation: aidKit2-2 4.2s cubic-bezier(0.53, 0.78, 0.51, 0.84) forwards; }

.aid-kit-3 {
  -webkit-animation: aidKit3-1 5.2s ease-in forwards;
          animation: aidKit3-1 5.2s ease-in forwards; }
  .aid-kit-3 img {
    -webkit-animation: aidKit3-2 5.2s cubic-bezier(0.16, 0.68, 0.25, 0.76) forwards;
            animation: aidKit3-2 5.2s cubic-bezier(0.16, 0.68, 0.25, 0.76) forwards; }

.aid-kit-4 {
  -webkit-animation: aidKit4-1 4s linear forwards;
          animation: aidKit4-1 4s linear forwards; }
  .aid-kit-4 img {
    -webkit-animation: aidKit4-2 4s cubic-bezier(0.72, 0.8, 0.67, 0.94) forwards;
            animation: aidKit4-2 4s cubic-bezier(0.72, 0.8, 0.67, 0.94) forwards; }

.aid-kit-5 {
  -webkit-animation: aidKit5-1 4.8s ease-out forwards;
          animation: aidKit5-1 4.8s ease-out forwards; }
  .aid-kit-5 img {
    -webkit-animation: aidKit5-2 4.8s linear forwards;
            animation: aidKit5-2 4.8s linear forwards; }

@-webkit-keyframes scrollLight {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes scrollLight {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes hintAni {
  0% {
    top: 8px; }
  100% {
    top: -8px; } }
@keyframes hintAni {
  0% {
    top: 8px; }
  100% {
    top: -8px; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeRightIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes fadeRightIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes Rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes Rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes tipAni {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes tipAni {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes page1Ship {
  0% {
    top: 500px;
    left: 82px;
    opacity: 0; }
  20% {
    opacity: 0.75; }
  100% {
    opacity: 0.75;
    top: 380px;
    left: 92px; } }
@keyframes page1Ship {
  0% {
    top: 500px;
    left: 82px;
    opacity: 0; }
  20% {
    opacity: 0.75; }
  100% {
    opacity: 0.75;
    top: 380px;
    left: 92px; } }
@-webkit-keyframes page3Ship {
  0% {
    top: 786px;
    left: -1px;
    opacity: 0; }
  20% {
    opacity: 0.75; }
  100% {
    opacity: 0.75;
    top: 660px;
    left: 5px; } }
@keyframes page3Ship {
  0% {
    top: 786px;
    left: -1px;
    opacity: 0; }
  20% {
    opacity: 0.75; }
  100% {
    opacity: 0.75;
    top: 660px;
    left: 5px; } }
@-webkit-keyframes page4Ship {
  0% {
    top: 375px;
    left: 35px;
    opacity: 0; }
  20% {
    opacity: 0.75; }
  100% {
    opacity: 0.75;
    top: 240px;
    left: 45px; } }
@keyframes page4Ship {
  0% {
    top: 375px;
    left: 35px;
    opacity: 0; }
  20% {
    opacity: 0.75; }
  100% {
    opacity: 0.75;
    top: 240px;
    left: 45px; } }
@-webkit-keyframes aidKit1-1 {
  0% {
    width: 90px;
    top: 724px; }
  100% {
    width: 82px;
    top: 1985px; } }
@keyframes aidKit1-1 {
  0% {
    width: 90px;
    top: 724px; }
  100% {
    width: 82px;
    top: 1985px; } }
@-webkit-keyframes aidKit1-2 {
  0% {
    width: 90px;
    left: 0; }
  100% {
    width: 82px;
    left: -29px; } }
@keyframes aidKit1-2 {
  0% {
    width: 90px;
    left: 0; }
  100% {
    width: 82px;
    left: -29px; } }
@-webkit-keyframes aidKit2-1 {
  0% {
    width: 82px;
    top: 1985px; }
  100% {
    width: 111px;
    top: 2939px; } }
@keyframes aidKit2-1 {
  0% {
    width: 82px;
    top: 1985px; }
  100% {
    width: 111px;
    top: 2939px; } }
@-webkit-keyframes aidKit2-2 {
  0% {
    width: 82px;
    left: -29px; }
  100% {
    width: 111px;
    left: 143px; } }
@keyframes aidKit2-2 {
  0% {
    width: 82px;
    left: -29px; }
  100% {
    width: 111px;
    left: 143px; } }
@-webkit-keyframes aidKit3-1 {
  0% {
    width: 111px;
    top: 2939px; }
  100% {
    width: 56px;
    top: 4515px; } }
@keyframes aidKit3-1 {
  0% {
    width: 111px;
    top: 2939px; }
  100% {
    width: 56px;
    top: 4515px; } }
@-webkit-keyframes aidKit3-2 {
  0% {
    width: 111px;
    left: 143px; }
  100% {
    width: 56px;
    left: 351px; } }
@keyframes aidKit3-2 {
  0% {
    width: 111px;
    left: 143px; }
  100% {
    width: 56px;
    left: 351px; } }
@-webkit-keyframes aidKit4-1 {
  0% {
    width: 56px;
    top: 4515px; }
  100% {
    width: 109px;
    top: 5432px; } }
@keyframes aidKit4-1 {
  0% {
    width: 56px;
    top: 4515px; }
  100% {
    width: 109px;
    top: 5432px; } }
@-webkit-keyframes aidKit4-2 {
  0% {
    width: 56px;
    left: 351px; }
  60% {
    width: 70px;
    left: 351px; }
  100% {
    width: 109px;
    left: 165px; } }
@keyframes aidKit4-2 {
  0% {
    width: 56px;
    left: 351px; }
  60% {
    width: 70px;
    left: 351px; }
  100% {
    width: 109px;
    left: 165px; } }
@-webkit-keyframes aidKit5-1 {
  0% {
    width: 109px;
    top: 5432px; }
  100% {
    width: 100px;
    top: 6880px; } }
@keyframes aidKit5-1 {
  0% {
    width: 109px;
    top: 5432px; }
  100% {
    width: 100px;
    top: 6880px; } }
@-webkit-keyframes aidKit5-2 {
  0% {
    width: 109px;
    left: 165px; }
  24% {
    width: 107px;
    left: -20px; }
  48% {
    width: 105px;
    left: -50px; }
  100% {
    width: 100px;
    left: 205px; } }
@keyframes aidKit5-2 {
  0% {
    width: 109px;
    left: 165px; }
  24% {
    width: 107px;
    left: -20px; }
  48% {
    width: 105px;
    left: -50px; }
  100% {
    width: 100px;
    left: 205px; } }
/*以上是动画设置*/
html, body {
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) repeat-y center top #eee5db;
  background-size: cover;
  overflow: hidden;
  font-family: "Source Han Sans CN", 'Helvetica', 'PingFangTC-Regular', 'PingFangTC', "PingFang SC", "Droid Sans", 'Tahoma', 'Arial', 'sans-serif'; }

.wrap {
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #loading .img1 {
    width: 420px;
    position: absolute;
    top: 91px;
    right: 151px; }
  #loading .img2 {
    width: 103px;
    position: absolute;
    bottom: 246px;
    right: 309px;
    -webkit-animation: tipAni 1s linear infinite;
            animation: tipAni 1s linear infinite;
    display: none; }
  #loading .img3 {
    width: 111px;
    position: absolute;
    bottom: 38px;
    left: 54px; }
  #loading .scroll-light {
    width: 636px;
    height: 156px;
    mix-blend-mode: screen;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: scrollLight 1.5s linear infinite;
            animation: scrollLight 1.5s linear infinite;
    display: none; }
    #loading .scroll-light img {
      width: 636px;
      height: 395px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.divhidden {
  opacity: 0;
  visibility: hidden; }

.tip-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  height: 100%;
  background-color: #000;
  display: none; }
  .tip-box .tip {
    width: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .tip-box .tip img {
      width: 100%; }

.painted-scroll {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 400;
  width: 750px;
  height: 75px;
  background: url(../images/scroll-frame.png) no-repeat center/cover; }
  .painted-scroll.painted-head {
    top: 0; }
  .painted-scroll.painted-footer {
    bottom: 0; }
  .painted-scroll .figure {
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden; }
  .painted-scroll img {
    position: absolute;
    left: 0;
    top: 0;
    width: 750px;
    max-width: none; }

.audio-btn {
  width: 56px;
  height: 56px;
  background: url(../music/music.png) no-repeat;
  background-size: 112px 56px;
  position: absolute;
  top: 8px;
  right: 63px;
  display: none; }
  .audio-btn.play {
    background-position: 0 0; }
  .audio-btn.pause {
    background-position: -56px 0; }

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2001;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }
  .popup-box .popup {
    width: 318px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .popup-box .fingerprint-btn {
    width: 176px;
    height: 126px;
    position: absolute;
    left: 66px;
    bottom: 86px; }

.hints {
  width: 100px;
  height: 88px;
  position: fixed;
  left: 86px;
  bottom: 110px;
  z-index: 1000;
  opacity: 0; }
  .hints.show {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 1; }
    .hints.show .hint-1 {
      -webkit-animation: hintAni 1.6s ease-out infinite;
              animation: hintAni 1.6s ease-out infinite; }
  .hints img {
    position: absolute;
    top: 0;
    bottom: 0; }
  .hints .hint-1 {
    top: 8px; }

.main {
  width: 100%;
  height: 156px;
  position: relative;
  z-index: 10;
  overflow: hidden; }

.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none; }

.content {
  width: 625px;
  overflow: hidden;
  position: relative;
  padding: 75px 0 73px;
  margin: 0 63px 0 62px;
  z-index: 300; }

.page {
  position: relative;
  font-size: 0;
  width: 625px; }
  .page .page-bg img {
    width: 100%; }

.page-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden; }
  .page-content img {
    position: absolute; }

.aid-kit {
  width: 90px;
  position: absolute;
  top: 724px;
  left: 175px;
  z-index: 100;
  display: none; }
  .aid-kit img {
    width: 90px;
    position: relative;
    top: 0;
    left: 0; }

.page .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute; }
  .page .text img {
    height: 100%;
    position: relative; }
.page .light {
  position: absolute;
  mix-blend-mode: screen; }
.page .ship {
  opacity: 0.75;
  position: absolute; }

.page-1 .light {
  width: 698px;
  top: 210px;
  left: 15px; }
.page-1 .ship {
  width: 176px;
  top: 410px;
  left: 92px;
  opacity: 0; }
  .page-1 .ship.sail {
    -webkit-animation: page1Ship 6s 2.6s linear forwards;
            animation: page1Ship 6s 2.6s linear forwards; }
.page-1 .logo {
  width: 54px;
  top: 16px;
  right: 17px; }
.page-1 .letter {
  width: 150px;
  position: absolute; }
  .page-1 .letter .letter-img img {
    -webkit-transition: all 1.6s;
    transition: all 1.6s; }
  .page-1 .letter .letter-img .l2 {
    opacity: 0; }
  .page-1 .letter img, .page-1 .letter .txt {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .page-1 .letter.active .letter-img .l1 {
    opacity: 0; }
  .page-1 .letter.active .letter-img .l2 {
    opacity: 1; }
.page-1 .letter-1 {
  top: 134px;
  right: 166px; }
  .page-1 .letter-1.active {
    width: 204px;
    top: 347px;
    right: 126px;
    -webkit-transition: all 1.6s;
    transition: all 1.6s; }
.page-1 .letter-2 {
  top: 432px;
  right: 166px; }
  .page-1 .letter-2.active {
    width: 204px;
    top: 529px;
    right: 126px;
    -webkit-transition: all 1.6s;
    transition: all 1.6s; }
.page-1 .letter-3 {
  top: 718px;
  right: 166px; }
  .page-1 .letter-3.active {
    width: 204px;
    top: 700px;
    right: 126px;
    -webkit-transition: all 1.6s;
    transition: all 1.6s; }
.page-1 .title {
  width: 120px;
  left: 12px;
  bottom: 200px;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s; }

.page-2 .text {
  height: 597px;
  top: 627px;
  right: 207px; }
  .page-2 .text .text1 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .page-2 .text .text2 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .page-2 .text .text3 {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .page-2 .text .text4 {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
.page-2 .p2-1 {
  width: 144px;
  top: 364px;
  right: 189px;
  display: none; }
.page-2 .p2-c1, .page-2 .p2-c2, .page-2 .p2-c3 {
  position: absolute;
  overflow: hidden; }
  .page-2 .p2-c1 img, .page-2 .p2-c2 img, .page-2 .p2-c3 img {
    max-width: none; }
.page-2 .p2-c1 {
  width: 140px;
  height: 267px;
  bottom: 858px;
  right: 198px;
  height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }
  .page-2 .p2-c1 img {
    left: 0;
    bottom: 0; }
  .page-2 .p2-c1.show {
    height: 267px; }
.page-2 .p2-c2 {
  width: 159px;
  height: 263px;
  top: 435px;
  right: 86px;
  height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }
  .page-2 .p2-c2 img {
    left: 0;
    top: 0; }
  .page-2 .p2-c2.show {
    height: 263px; }
.page-2 .p2-c3 {
  width: 270px;
  height: 123px;
  top: 460px;
  right: 219px;
  width: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }
  .page-2 .p2-c3 img {
    right: 0;
    bottom: 0; }
  .page-2 .p2-c3.show {
    width: 270px; }

.page-3 .text {
  height: 694px;
  top: 520px;
  right: 171px; }
  .page-3 .text .text1 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .page-3 .text .text2 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .page-3 .text .text3 {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .page-3 .text .text4 {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
.page-3 .light {
  width: 489px;
  top: 534px;
  left: 82px; }
.page-3 .ship {
  width: 265px;
  top: 660px;
  left: 5px;
  opacity: 0; }
  .page-3 .ship.sail {
    -webkit-animation: page3Ship 6s linear forwards;
            animation: page3Ship 6s linear forwards; }

.page-4 .title {
  width: 38px;
  top: 625px;
  right: 45px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.page-4 .schedule {
  width: 489px;
  top: 116px;
  left: 26px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

.page-5 .text {
  height: 673px;
  top: 338px;
  right: 94px; }
  .page-5 .text .text1 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .page-5 .text .text2 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .page-5 .text .text3 {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .page-5 .text .text4 {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
  .page-5 .text .text5 {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s; }
  .page-5 .text .text6 {
    -webkit-animation-delay: 3.0s;
            animation-delay: 3.0s; }
  .page-5 .text .text7 {
    -webkit-animation-delay: 3.6s;
            animation-delay: 3.6s; }
.page-5 .addr-icon1 {
  top: 803px;
  left: 162px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.page-5 .addr-icon2 {
  top: 572px;
  left: 150px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
.page-5 .addr-icon3 {
  top: 758px;
  left: 152px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }
.page-5 .addr-icon4 {
  top: 784px;
  left: 142px;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s; }
.page-5 .addr-icon5 {
  top: 725px;
  left: 93px;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s; }
.page-5 .addr-icon6 {
  top: 694px;
  left: 224px;
  -webkit-animation-delay: 3.0s;
          animation-delay: 3.0s; }
.page-5 .addr-icon7 {
  top: 692px;
  left: 144px;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s; }

.page-6 .light {
  width: 592px;
  top: 98px;
  left: 0px; }
.page-6 .ship {
  width: 202px;
  top: 240px;
  left: 45px;
  opacity: 0; }
  .page-6 .ship.sail {
    -webkit-animation: page4Ship 6s 0.9s linear forwards;
            animation: page4Ship 6s 0.9s linear forwards; }
.page-6 .title {
  width: 160px;
  bottom: 365px;
  right: 104px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
.page-6 .txt {
  width: 35px;
  bottom: 192px;
  right: 295px; }
.page-6 .fingerprint {
  width: 188px;
  height: 124px;
  position: absolute;
  left: 79px;
  bottom: 652px; }
.page-6 .seal {
  width: 161px;
  left: 91px;
  bottom: 491px;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s; }

@media screen and (orientation: portrait) {
  #tips {
    display: none; } }
@media screen and (orientation: landscape) {
  #tips {
    display: block; } }
@media screen and (max-height: 1250px) {
  #loading .img1 {
    top: 32px; }
  #loading .img2 {
    bottom: 170px; } }
@media screen and (min-height: 1300px) {
  .page-1 .title {
    bottom: 90px; } }
@media screen and (min-height: 1380px) {
  .page-1 .title {
    bottom: 60px; } }
