@charset "UTF-8";
@-webkit-keyframes ArrowSlow {
  0% {
    -webkit-transform: translateY(0.08rem);
            transform: translateY(0.08rem); }
  50% {
    -webkit-transform: translateY(-0.08rem);
            transform: translateY(-0.08rem); }
  100% {
    -webkit-transform: translateY(0.08rem);
            transform: translateY(0.08rem); } }
@keyframes ArrowSlow {
  0% {
    -webkit-transform: translateY(0.08rem);
            transform: translateY(0.08rem); }
  50% {
    -webkit-transform: translateY(-0.08rem);
            transform: translateY(-0.08rem); }
  100% {
    -webkit-transform: translateY(0.08rem);
            transform: translateY(0.08rem); } }
@-webkit-keyframes ArrowSlow2 {
  0% {
    -webkit-transform: translateY(0.03rem);
            transform: translateY(0.03rem); }
  50% {
    -webkit-transform: translateY(-0.03rem);
            transform: translateY(-0.03rem); }
  100% {
    -webkit-transform: translateY(0.03rem);
            transform: translateY(0.03rem); } }
@keyframes ArrowSlow2 {
  0% {
    -webkit-transform: translateY(0.03rem);
            transform: translateY(0.03rem); }
  50% {
    -webkit-transform: translateY(-0.03rem);
            transform: translateY(-0.03rem); }
  100% {
    -webkit-transform: translateY(0.03rem);
            transform: translateY(0.03rem); } }
@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes Twinkle {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@keyframes Twinkle {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@-webkit-keyframes aniLight {
  0% {
    background-image: url(../images/bg/anibg/anibg2.png); }
  1.25% {
    background-image: url(../images/bg/anibg/anibg4.png); }
  2.5% {
    background-image: url(../images/bg/anibg/anibg6.png); }
  3.75% {
    background-image: url(../images/bg/anibg/anibg8.png); }
  5% {
    background-image: url(../images/bg/anibg/anibg10.png); }
  6.25% {
    background-image: url(../images/bg/anibg/anibg12.png); }
  7.5% {
    background-image: url(../images/bg/anibg/anibg14.png); }
  8.75% {
    background-image: url(../images/bg/anibg/anibg16.png); }
  10% {
    background-image: url(../images/bg/anibg/anibg18.png); }
  11.25% {
    background-image: url(../images/bg/anibg/anibg20.png); }
  12.5% {
    background-image: url(../images/bg/anibg/anibg22.png); }
  13.75% {
    background-image: url(../images/bg/anibg/anibg24.png); }
  15% {
    background-image: url(../images/bg/anibg/anibg26.png); }
  16.25% {
    background-image: url(../images/bg/anibg/anibg28.png); }
  17.5% {
    background-image: url(../images/bg/anibg/anibg30.png); }
  18.75% {
    background-image: url(../images/bg/anibg/anibg32.png); }
  20% {
    background-image: url(../images/bg/anibg/anibg34.png); }
  21.25% {
    background-image: url(../images/bg/anibg/anibg36.png); }
  22.5% {
    background-image: url(../images/bg/anibg/anibg38.png); }
  23.75% {
    background-image: url(../images/bg/anibg/anibg40.png); }
  25% {
    background-image: url(../images/bg/anibg/anibg42.png); }
  26.25% {
    background-image: url(../images/bg/anibg/anibg44.png); }
  27.5% {
    background-image: url(../images/bg/anibg/anibg46.png); }
  28.75% {
    background-image: url(../images/bg/anibg/anibg48.png); }
  30% {
    background-image: url(../images/bg/anibg/anibg50.png); }
  31.25% {
    background-image: url(../images/bg/anibg/anibg52.png); }
  32.5% {
    background-image: url(../images/bg/anibg/anibg54.png); }
  33.75% {
    background-image: url(../images/bg/anibg/anibg56.png); }
  35% {
    background-image: url(../images/bg/anibg/anibg58.png); }
  36.25% {
    background-image: url(../images/bg/anibg/anibg60.png); }
  37.5% {
    background-image: url(../images/bg/anibg/anibg62.png); }
  38.75% {
    background-image: url(../images/bg/anibg/anibg64.png); }
  40% {
    background-image: url(../images/bg/anibg/anibg66.png); }
  41.25% {
    background-image: url(../images/bg/anibg/anibg68.png); }
  42.5% {
    background-image: url(../images/bg/anibg/anibg70.png); }
  43.75% {
    background-image: url(../images/bg/anibg/anibg72.png); }
  45% {
    background-image: url(../images/bg/anibg/anibg74.png); }
  46.25% {
    background-image: url(../images/bg/anibg/anibg76.png); }
  47.5% {
    background-image: url(../images/bg/anibg/anibg78.png); }
  48.75% {
    background-image: url(../images/bg/anibg/anibg80.png); }
  50% {
    background-image: url(../images/bg/anibg/anibg82.png); }
  51.25% {
    background-image: url(../images/bg/anibg/anibg84.png); }
  52.5% {
    background-image: url(../images/bg/anibg/anibg86.png); }
  53.75% {
    background-image: url(../images/bg/anibg/anibg87.png); }
  55% {
    background-image: url(../images/bg/anibg/anibg90.png); }
  56.75% {
    background-image: url(../images/bg/anibg/anibg92.png); }
  57.5% {
    background-image: url(../images/bg/anibg/anibg94.png); }
  58.75% {
    background-image: url(../images/bg/anibg/anibg96.png); }
  60% {
    background-image: url(../images/bg/anibg/anibg98.png); }
  61.25% {
    background-image: url(../images/bg/anibg/anibg100.png); }
  62.5% {
    background-image: url(../images/bg/anibg/anibg102.png); }
  63.75% {
    background-image: url(../images/bg/anibg/anibg104.png); }
  65% {
    background-image: url(../images/bg/anibg/anibg106.png); }
  66.25% {
    background-image: url(../images/bg/anibg/anibg108.png); }
  67.5% {
    background-image: url(../images/bg/anibg/anibg110.png); }
  68.75% {
    background-image: url(../images/bg/anibg/anibg112.png); }
  70% {
    background-image: url(../images/bg/anibg/anibg114.png); }
  71.25% {
    background-image: url(../images/bg/anibg/anibg116.png); }
  72.5% {
    background-image: url(../images/bg/anibg/anibg118.png); }
  73.75% {
    background-image: url(../images/bg/anibg/anibg120.png); }
  75% {
    background-image: url(../images/bg/anibg/anibg122.png); }
  76.25% {
    background-image: url(../images/bg/anibg/anibg124.png); }
  77.5% {
    background-image: url(../images/bg/anibg/anibg126.png); }
  78.75% {
    background-image: url(../images/bg/anibg/anibg128.png); }
  80% {
    background-image: url(../images/bg/anibg/anibg130.png); }
  81.25% {
    background-image: url(../images/bg/anibg/anibg132.png); }
  82.5% {
    background-image: url(../images/bg/anibg/anibg134.png); }
  83.75% {
    background-image: url(../images/bg/anibg/anibg136.png); }
  85% {
    background-image: url(../images/bg/anibg/anibg138.png); }
  86.25% {
    background-image: url(../images/bg/anibg/anibg140.png); }
  87.5% {
    background-image: url(../images/bg/anibg/anibg142.png); }
  88.75% {
    background-image: url(../images/bg/anibg/anibg144.png); }
  90% {
    background-image: url(../images/bg/anibg/anibg146.png); }
  91.25% {
    background-image: url(../images/bg/anibg/anibg148.png); }
  93.75% {
    background-image: url(../images/bg/anibg/anibg150.png); }
  95% {
    background-image: url(../images/bg/anibg/anibg152.png); }
  96.25% {
    background-image: url(../images/bg/anibg/anibg154.png); }
  97.5% {
    background-image: url(../images/bg/anibg/anibg156.png); }
  98.75% {
    background-image: url(../images/bg/anibg/anibg158.png); }
  100% {
    background-image: url(../images/bg/anibg/anibg160.png); } }
@keyframes aniLight {
  0% {
    background-image: url(../images/bg/anibg/anibg2.png); }
  1.25% {
    background-image: url(../images/bg/anibg/anibg4.png); }
  2.5% {
    background-image: url(../images/bg/anibg/anibg6.png); }
  3.75% {
    background-image: url(../images/bg/anibg/anibg8.png); }
  5% {
    background-image: url(../images/bg/anibg/anibg10.png); }
  6.25% {
    background-image: url(../images/bg/anibg/anibg12.png); }
  7.5% {
    background-image: url(../images/bg/anibg/anibg14.png); }
  8.75% {
    background-image: url(../images/bg/anibg/anibg16.png); }
  10% {
    background-image: url(../images/bg/anibg/anibg18.png); }
  11.25% {
    background-image: url(../images/bg/anibg/anibg20.png); }
  12.5% {
    background-image: url(../images/bg/anibg/anibg22.png); }
  13.75% {
    background-image: url(../images/bg/anibg/anibg24.png); }
  15% {
    background-image: url(../images/bg/anibg/anibg26.png); }
  16.25% {
    background-image: url(../images/bg/anibg/anibg28.png); }
  17.5% {
    background-image: url(../images/bg/anibg/anibg30.png); }
  18.75% {
    background-image: url(../images/bg/anibg/anibg32.png); }
  20% {
    background-image: url(../images/bg/anibg/anibg34.png); }
  21.25% {
    background-image: url(../images/bg/anibg/anibg36.png); }
  22.5% {
    background-image: url(../images/bg/anibg/anibg38.png); }
  23.75% {
    background-image: url(../images/bg/anibg/anibg40.png); }
  25% {
    background-image: url(../images/bg/anibg/anibg42.png); }
  26.25% {
    background-image: url(../images/bg/anibg/anibg44.png); }
  27.5% {
    background-image: url(../images/bg/anibg/anibg46.png); }
  28.75% {
    background-image: url(../images/bg/anibg/anibg48.png); }
  30% {
    background-image: url(../images/bg/anibg/anibg50.png); }
  31.25% {
    background-image: url(../images/bg/anibg/anibg52.png); }
  32.5% {
    background-image: url(../images/bg/anibg/anibg54.png); }
  33.75% {
    background-image: url(../images/bg/anibg/anibg56.png); }
  35% {
    background-image: url(../images/bg/anibg/anibg58.png); }
  36.25% {
    background-image: url(../images/bg/anibg/anibg60.png); }
  37.5% {
    background-image: url(../images/bg/anibg/anibg62.png); }
  38.75% {
    background-image: url(../images/bg/anibg/anibg64.png); }
  40% {
    background-image: url(../images/bg/anibg/anibg66.png); }
  41.25% {
    background-image: url(../images/bg/anibg/anibg68.png); }
  42.5% {
    background-image: url(../images/bg/anibg/anibg70.png); }
  43.75% {
    background-image: url(../images/bg/anibg/anibg72.png); }
  45% {
    background-image: url(../images/bg/anibg/anibg74.png); }
  46.25% {
    background-image: url(../images/bg/anibg/anibg76.png); }
  47.5% {
    background-image: url(../images/bg/anibg/anibg78.png); }
  48.75% {
    background-image: url(../images/bg/anibg/anibg80.png); }
  50% {
    background-image: url(../images/bg/anibg/anibg82.png); }
  51.25% {
    background-image: url(../images/bg/anibg/anibg84.png); }
  52.5% {
    background-image: url(../images/bg/anibg/anibg86.png); }
  53.75% {
    background-image: url(../images/bg/anibg/anibg87.png); }
  55% {
    background-image: url(../images/bg/anibg/anibg90.png); }
  56.75% {
    background-image: url(../images/bg/anibg/anibg92.png); }
  57.5% {
    background-image: url(../images/bg/anibg/anibg94.png); }
  58.75% {
    background-image: url(../images/bg/anibg/anibg96.png); }
  60% {
    background-image: url(../images/bg/anibg/anibg98.png); }
  61.25% {
    background-image: url(../images/bg/anibg/anibg100.png); }
  62.5% {
    background-image: url(../images/bg/anibg/anibg102.png); }
  63.75% {
    background-image: url(../images/bg/anibg/anibg104.png); }
  65% {
    background-image: url(../images/bg/anibg/anibg106.png); }
  66.25% {
    background-image: url(../images/bg/anibg/anibg108.png); }
  67.5% {
    background-image: url(../images/bg/anibg/anibg110.png); }
  68.75% {
    background-image: url(../images/bg/anibg/anibg112.png); }
  70% {
    background-image: url(../images/bg/anibg/anibg114.png); }
  71.25% {
    background-image: url(../images/bg/anibg/anibg116.png); }
  72.5% {
    background-image: url(../images/bg/anibg/anibg118.png); }
  73.75% {
    background-image: url(../images/bg/anibg/anibg120.png); }
  75% {
    background-image: url(../images/bg/anibg/anibg122.png); }
  76.25% {
    background-image: url(../images/bg/anibg/anibg124.png); }
  77.5% {
    background-image: url(../images/bg/anibg/anibg126.png); }
  78.75% {
    background-image: url(../images/bg/anibg/anibg128.png); }
  80% {
    background-image: url(../images/bg/anibg/anibg130.png); }
  81.25% {
    background-image: url(../images/bg/anibg/anibg132.png); }
  82.5% {
    background-image: url(../images/bg/anibg/anibg134.png); }
  83.75% {
    background-image: url(../images/bg/anibg/anibg136.png); }
  85% {
    background-image: url(../images/bg/anibg/anibg138.png); }
  86.25% {
    background-image: url(../images/bg/anibg/anibg140.png); }
  87.5% {
    background-image: url(../images/bg/anibg/anibg142.png); }
  88.75% {
    background-image: url(../images/bg/anibg/anibg144.png); }
  90% {
    background-image: url(../images/bg/anibg/anibg146.png); }
  91.25% {
    background-image: url(../images/bg/anibg/anibg148.png); }
  93.75% {
    background-image: url(../images/bg/anibg/anibg150.png); }
  95% {
    background-image: url(../images/bg/anibg/anibg152.png); }
  96.25% {
    background-image: url(../images/bg/anibg/anibg154.png); }
  97.5% {
    background-image: url(../images/bg/anibg/anibg156.png); }
  98.75% {
    background-image: url(../images/bg/anibg/anibg158.png); }
  100% {
    background-image: url(../images/bg/anibg/anibg160.png); } }
/*以上是动画设置*/
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei','Tahoma','Arial','Helvetica','sans-serif'; }

.animated {
  opacity: 0; }

.down {
  width: 1.02rem;
  position: absolute;
  bottom: 0.48rem;
  left: 50%;
  margin-left: -0.51rem;
  -webkit-animation: ArrowSlow 1s ease-in-out infinite;
          animation: ArrowSlow 1s ease-in-out infinite; }

.back {
  width: 0.6rem;
  position: fixed;
  top: 0.2rem;
  right: 0.36rem;
  z-index: 200;
  display: none; }

.audio-btn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 200; }
  .audio-btn.have-back {
    top: 1rem; }
  .audio-btn img {
    width: 0.7rem;
    display: none; }

/*弹窗*/
.dialog-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none; }
  .dialog-wrap .dialog-content {
    width: 4.5rem;
    min-height: 3.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 0.09rem;
    padding: 0.62rem 0 0.4rem;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .dialog-wrap .dialog-icon {
    width: 0.85rem; }
  .dialog-wrap .dialog-text {
    max-width: 3.4rem;
    font-size: 0.3rem;
    color: #10347D;
    line-height: 0.36rem;
    text-align: center;
    padding: 0.29rem 0 0.32rem; }
  .dialog-wrap .dialog-btn {
    width: 1.2rem;
    border-radius: 0.09rem;
    -webkit-box-shadow: 0 0.03rem 0.1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.03rem 0.1rem rgba(0, 0, 0, 0.2); }

/*弹窗 end*/
/*loading*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 400;
  background-color: #000; }
  #loading .loading-content {
    width: 1.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1rem 0 0 -0.85rem;
    background-color: #000000; }
    #loading .loading-content .rolling {
      position: absolute;
      max-width: none;
      width: 2.08rem;
      top: -0.08rem;
      left: -0.09rem;
      -webkit-animation: Rotate 4s linear infinite;
              animation: Rotate 4s linear infinite; }

#fra {
  display: none; }

.wrap-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  max-width: 7.5rem;
  margin: 0 auto;
  background-color: #001443;
  overflow: hidden; }

#bgImg, #roundAnimate, #bgShade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow: hidden;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scale(1.86);
          transform: scale(1.86);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s; }

#roundAnimate {
  height: 6rem;
  z-index: 30 !important;
  mix-blend-mode: screen; }
  #roundAnimate .round {
    position: absolute;
    border-radius: 100%;
    border: none; }
  #roundAnimate #roundWrapTop {
    width: 36%;
    height: 0.40rem;
    margin: 0 auto;
    position: relative; }
  #roundAnimate #roundWrapBottom {
    width: 100%;
    height: 1.8rem;
    position: absolute;
    top: 1.02rem;
    left: 0; }

#bgImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 7.5rem;
  height: 2.14rem;
  -webkit-animation: aniLight 4.8s linear infinite;
          animation: aniLight 4.8s linear infinite; }

.wrap {
  position: relative;
  height: 100%;
  z-index: 100;
  max-width: 7.5rem;
  margin: 0 auto;
  overflow: hidden; }

.header {
  position: absolute;
  top: 0.55rem;
  left: 0.49rem;
  z-index: 100;
  display: none; }
  .header .logo {
    display: block;
    width: 2.31rem; }

.content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100; }

.page-conteiner {
  height: 100%; }

.swiper-slide {
  overflow: hidden; }

.page-head .title {
  width: 6.18rem;
  margin: 0 auto 0.3rem; }
.page-head .sub {
  width: 5.06rem;
  margin: 0 auto; }

.index-slide .page-main {
  position: absolute;
  top: 4.82rem;
  left: 0;
  right: 0; }
.index-slide .logo {
  width: 2.88rem;
  margin: 0 auto 0.68rem; }
.index-slide .text {
  position: relative;
  text-align: center;
  font-size: 0; }
  .index-slide .text > img {
    width: 5.44rem;
    position: relative;
    z-index: 10;
    margin: 0 auto; }
  .index-slide .text .light1, .index-slide .text .light2 {
    position: absolute; }
  .index-slide .text .light1 {
    width: 2.75rem;
    top: -1.1rem;
    left: 0rem;
    -webkit-animation: Twinkle 4s 0.2s linear infinite;
            animation: Twinkle 4s 0.2s linear infinite; }
  .index-slide .text .light2 {
    width: 3.36rem;
    top: -0.52rem;
    right: 0rem;
    -webkit-animation: Twinkle 4.2s 0.5s linear infinite;
            animation: Twinkle 4.2s 0.5s linear infinite; }
.index-slide .title {
  position: relative;
  width: 2.62rem;
  margin: 0.9rem auto 0; }
  .index-slide .title .title-round {
    width: 2.62rem;
    -webkit-animation: Rotate 3s linear infinite;
            animation: Rotate 3s linear infinite; }
  .index-slide .title .title-text {
    width: 2.08rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.video-slide .page-main {
  padding-top: 2.62rem; }
.video-slide .video-wrap {
  width: 6.30rem;
  padding-left: 0.24rem;
  position: relative;
  margin: 1.06rem auto 0; }
  .video-slide .video-wrap .video-decorate {
    width: 0.62rem;
    position: absolute;
    top: -0.2rem;
    left: -0.18rem;
    z-index: 10; }
  .video-slide .video-wrap .video-box {
    width: 100%;
    height: 3.72rem;
    border-radius: 0.09rem;
    overflow: hidden;
    position: relative; }
    .video-slide .video-wrap .video-box video {
      width: 100%;
      height: 100%; }
    .video-slide .video-wrap .video-box .video-poster {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.invitation-slide .page-main {
  padding-top: 1.18rem; }
.invitation-slide .title {
  width: 4.4rem;
  margin: 0 auto 0.28rem; }
.invitation-slide .invit-container {
  width: 6.74rem;
  height: 60.6vh; }
  .invitation-slide .invit-container .swiper-scrollbar {
    display: none; }
  .invitation-slide .invit-container .swiper-slide {
    height: auto; }
.invitation-slide .text {
  padding-top: 0.12rem; }
.invitation-slide .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0.57rem;
  padding-top: 0.6rem; }
  .invitation-slide .signature img {
    width: 1.97rem;
    height: 1.42rem; }

.register-slide .page-main {
  padding-top: 2.62rem;
  position: relative; }
.register-slide .register {
  padding-top: 0.8rem; }
.register-slide .form-item {
  width: 4.66rem;
  height: 1.03rem;
  padding: 0.05rem 0.08rem 0.1rem;
  background: url(../images/form-border.png) no-repeat center;
  background-size: contain;
  margin: 0 auto;
  margin-top: 0.12rem; }
  .register-slide .form-item .item-content {
    height: 100%;
    position: relative; }
    .register-slide .form-item .item-content input {
      width: 100%;
      height: 100%;
      padding: 0 0.2rem;
      text-align: center;
      font-size: 0.3rem;
      color: #fff;
      text-shadow: 0 0.03rem 0.06rem #fff; }
    .register-slide .form-item .item-content .placeholder {
      position: absolute;
      top: 0;
      left: 0;
      height: 0.43rem; }
  .register-slide .form-item .adorn {
    width: 0.62rem;
    position: absolute;
    top: -0.2rem;
    right: -0.18rem; }
.register-slide .btn {
  width: 4.5rem;
  margin: 0.52rem auto 0;
  border-radius: 0.09rem;
  -webkit-box-shadow: 0 0.03rem 0.1rem #10347D;
          box-shadow: 0 0.03rem 0.1rem #10347D; }

.address-slide .page-main {
  padding-top: 2.62rem; }
.address-slide .text {
  width: 5.59rem;
  margin: 0.74rem 0 0 0.95rem; }
.address-slide .map {
  width: 5.63rem;
  height: 3.15rem;
  border-radius: 0.17rem;
  margin: 0.48rem auto 0;
  background-color: #fff;
  -webkit-box-shadow: 0.07rem 0.08rem 0.06rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.07rem 0.08rem 0.06rem rgba(0, 0, 0, 0.2); }

.meeting-slide .page-main {
  padding-top: 1.32rem; }
.meeting-slide .table-title {
  width: 7.2rem;
  margin: 0.5rem auto 0; }
.meeting-slide .table-body {
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.3);
  width: 7.02rem;
  padding: 0 0.2rem;
  margin: 0 auto;
  overflow: hidden; }
  .meeting-slide .table-body .table-th {
    padding: 0.14rem 0 0.2rem;
    font-size: 0; }
  .meeting-slide .table-body .table-td {
    position: relative;
    height: 0.9rem;
    overflow: hidden;
    margin-bottom: 0.14rem; }
    .meeting-slide .table-body .table-td.open {
      height: auto; }
      .meeting-slide .table-body .table-td.open .arrow {
        opacity: 0; }
    .meeting-slide .table-body .table-td .arrow {
      position: absolute;
      width: 0.5rem;
      bottom: 0;
      left: 50%;
      margin-left: -0.25rem;
      -webkit-animation: ArrowSlow2 0.8s ease-in-out infinite;
              animation: ArrowSlow2 0.8s ease-in-out infinite; }

.code-slide .page-main {
  padding-top: 2.62rem; }
.code-slide .qr-code {
  width: 4.54rem;
  margin: 0.88rem auto 0;
  position: relative; }

@media screen and (max-height: 640px) {
  .meeting-slide .page-main {
    padding-top: 1.0rem; }
  .meeting-slide .page-head .title {
    margin: 0 auto 0.2rem; }
  .meeting-slide .table-title {
    margin: 0.3rem auto 0; }
  .meeting-slide .table-body .table-td {
    margin-bottom: 0.08rem; } }
@media screen and (max-height: 690px) and (min-width: 400px) {
  .meeting-slide .page-main {
    padding-top: 1.0rem; }
  .meeting-slide .page-head .title {
    margin: 0 auto 0.2rem; }
  .meeting-slide .table-title {
    margin: 0.3rem auto 0; }
  .meeting-slide .table-body .table-td {
    margin-bottom: 0.08rem; } }
/*弹出软键盘的时候让箭头消失*/
@media screen and (max-height: 380px) {
  .down {
    display: none; } }
