.findC {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f8a44b;
}

.findC .page1 .logoBox {
  position: relative;
  padding-top: 0.3rem;
}

.findC .page1 .logoBox .logo {
  width: 3.22rem;
  margin: auto;
}

.findC .page1 .logoBox .help {
  width: 0.57rem;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}

.findC .page1 .titlesBox {
  width: 6.8rem;
  margin: auto;
  position: relative;
  margin-top: 0.2rem;
}

.findC .page1 .titlesBox .titles {
  width: 6rem;
  position: absolute;
  left: 0.4rem;
  top: 1rem;
  opacity: 0;
}

.findC .page1 .room img {
  height: 60vh;
  width: auto;
  position: absolute;
  bottom: 0;
}

.findC .page1 .room .beginBtn {
  width: 3.15rem;
  position: absolute;
  bottom: 1.2rem;
}

.findC .glass {
  width: 3.86rem;
  position: absolute;
  top: 35%;
  right: 0;
}

.Btn {
  height: 0.9rem;
  background: #488dd5;
  border: 0.1rem solid #fff;
  box-sizing: border-box;
  border-radius: 0.45rem;
  letter-spacing: 0.1rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 0.35rem;
  color: #fff;
  box-shadow: 0 0 0.1rem 0 #666;
}

.hintBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.hintBox .cont {
  width: 80%;
  margin: auto;
  top: 40%;
  position: relative;
}

.hintBox .cont .h1btn, .hintBox .cont .h2btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  bottom: -0.2rem;
  left: calc(50% - 0.5rem);
  z-index: 5;
}

.hintBox .btnBox {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.hintBox .btnBox span {
  width: 2.8rem;
  height: 0.8rem;
  line-height: 0.62rem;
  font-size: 0.31rem;
  border: 0.08rem solid #fff;
}

.page2 {
  width: 100%;
  height: 100%;
  background: #fae781;
}

.page2 .cont {
  position: relative;
  height: 100%;
}

.page2 .cont .fillBg {
  width: 84.5%;
  height: 30vh;
  background: #f8a44b;
  position: absolute;
  right: 0;
}

.page2 .cont .ftbox {
  width: 90%;
  margin: auto;
  position: relative;
  top: 0.3rem;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page2 .cont .ftbox .timeOut .timeLine {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid #f8a44b;
  font-size: 0.39rem;
  background: #fff;
  color: #f8a44b;
}

.page2 .cont .ftbox .timeOut .timeLine span {
  width: 100%;
  text-align: center;
  line-height: 0.9rem;
}

.page2 .cont .ftbox .iconList {
  width: calc(100% - 1.3rem);
  height: 1rem;
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.1rem 0 #666;
  padding: 0.1rem;
}

.page2 .cont .ftbox .iconList ul {
  width: 100%;
  height: 100%;
  border: 0.05rem solid #f8a44b;
  border-radius: 0.2rem;
  padding: 0.1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.page2 .cont .ftbox .iconList ul li {
  width: 23%;
}

.page2 .cont .fcbox {
  box-sizing: border-box;
  width: 105%;
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 2;
}

.page2 .cont .fcbox .fi {
  transition: all 0.3s linear;
}

.page2 .cont .fcbox .i1 {
  position: absolute;
  width: 1.6rem;
  top: 44.9%;
  left: 23.1%;
}

.page2 .cont .fcbox .i2 {
  position: absolute;
  width: 0.6rem;
  top: 69%;
  left: 66.8%;
}

.page2 .cont .fcbox .i3 {
  position: absolute;
  width: 1.74rem;
  top: 19%;
  left: 33.8%;
}

.page2 .cont .fcbox .i4 {
  position: absolute;
  width: 1.1rem;
  top: 43.5%;
  left: 41%;
}
